:root {
    --background: #fff7f4;
    --black: #000;
    --dark-blue: #363b8f;
    --blue: #007aff;
    --light-blue: #d8ebff;
    --dark-red: #840621;
    --red: #e20a39;
    --light-red: #fdc7d3;
    --dark-orange: #dca511;
    --orange: #f4d06f;
    --light-orange: #f8df9e;
    --dark: #073429;
    --light-grey: #dedede;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--dark);
    font-family: "Mono", sans-serif;
    font-weight: 700;
}

h1 {
    line-height: 40px;
}

b,
strong {
    color: var(--red);
    font-size: 1.1em;
    font-style: oblique;
}

a {
    color: var(--dark);
    text-decoration: none;
}

a:hover {
    color: var(--dark);
}

.link {
    text-decoration: none;
}

.link:hover {
    color: var(--red);
    font-style: oblique;
}

html {
    color: var(--dark);
    font-family: "Mono", serif;
    font-size: 1.1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--background);
    line-height: 25px;
}

body {
    margin: 0;
    width: min(800px, 90vw);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    background-color: var(--background);
    padding: 0;
    margin: -10px -10px 10px;
    position: relative;
    top: 0;
    z-index: 100;
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
}

.nav-container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 24px;
    border-bottom: 2px solid var(--dark);
}

.nav-brand {
    font-size: 30px;
    font-weight: 700;
    color: var(--dark);
    text-decoration: none;
    letter-spacing: -0.5px;
    padding: 10px 10px;
}
.nav-brand:hover {
    color: var(--red);
    font-style: oblique;
    text-decoration: none;
}

.nav-item {
    padding: 0px 12px;
    border-left: 2px solid var(--dark);
    font-size: 15px;
    font-weight: 500;
    color: var(--dark);
    text-transform: lowercase;
}

.nav-item-last {
    border-right: 2px solid var(--dark);
    overflow: visible;
}

.nav-item:hover {
    background-color: var(--orange);
}

@media (max-width: 768px) {
    .nav-item {
        display: flex;
        overflow: hidden;
        white-space: nowrap;
    }

    .nav-item-last {
        overflow: visible;
    }
}

.small {
    font-size: 0.8em;
}

.wave {
    background: #111;
    color: var(--text);
    text-shadow:
        1px 1px 10px var(--text),
        1px 1px 10px var(--text);
}

footer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

footer hr {
    color: var(--dark);
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
}

hr {
    width: 100%;
    color: var(--dark);
}

img {
    display: block;
    align-self: flex-start;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 100%;
    margin-bottom: 10px;
}

table,
th,
td {
    border: 2px solid var(--dark);
    border-collapse: collapse;
    padding: 5px;
    margin: 0px auto;
    text-align: left;
}

.card {
    width: 100%;
    margin: 0 auto 20px;
    border: 2px solid var(--dark);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 20px 24px 0px;
    border-bottom: 4px solid var(--dark);
    transition: var(--orange) 0.2s ease;
    background-color: var(--orange);
}

.card-header:hover {
    background-color: var(--light-orange);
}

.card-header:focus {
    background-color: var(--red);
}

.card-title {
    font-size: 20px;
    font-weight: 700;
    color: var(--dark);
    margin: 0 0 8px 0;
    line-height: 1;
}

.card-date {
    line-height: 1;
}

.card-body {
    padding: 10px 24px;
    background-color: var(--background);
}
.card-excerpt {
    color: var(--dark);
}

.card-actions {
    justify-content: space-between;
    flex-flow: row wrap;
}

.card-tags {
    margin: 0 auto;
    display: flex;
    justify-content: end;
    align-items: center;
    text-transform: lowercase;
    padding: 0 0px;
}

.card-tag {
    padding: 0px 10px;
    display: inline-block;
    color: var(--dark);
    background-color: var(--light-grey);
    border-left: 2px solid var(--dark);
    border-top: 2px solid var(--dark);
    border-bottom: 2px solid var(--dark);
}

.card-tag:hover {
    background-color: var(--orange);
    cursor: default;
}

.project {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 15px auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 8px solid;
    display: flex;
}

.project:nth-of-type(3n + 1) {
    border-color: var(--dark-blue);
    background-color: var(--dark-blue);
    color: var(--background);
    --dark-color: var(--dark-blue);
    --light-color: var(--light-blue);
}
.project:nth-of-type(3n + 2) {
    border-color: var(--red);
    background-color: var(--red);
    color: var(--background);
    --dark-color: var(--red);
    --light-color: var(--light-red);
}
.project:nth-of-type(3n + 3) {
    border-color: var(--dark-orange);
    background-color: var(--dark-orange);
    color: var(--background);
    --dark-color: var(--dark-orange);
    --light-color: var(--light-orange);
}

.project-image {
    position: relative;
    width: 100%;
    height: inherit;
    object-fit: cover;
    background-color: var(--light-color);
}

.project-detail {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 50%;
    background-color: var(--dark-color);
    color: var(--light-color);
}

.project-title {
    font-size: 25px;
    font-weight: 1000;
    margin: 10px;
}

.project-desc {
    font-size: 15px;
    border-top: 2px solid var(--light-color);
    margin: 10px;
}

.project-inset {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: inherit;
    border: 1px solid var(--dark-color);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.project-inset:hover .project-inset-left {
    color: var(--light-color);
    background-color: var(--dark-color);
}

.project-inset:hover .project-inset-right {
    color: var(--dark-color);
    background-color: var(--light-color);
}

.project-inset-left {
    display: inline-block;
    padding: 5px 5px;
    margin: 5px 5px;
    color: var(--dark-color);
    background-color: var(--light-color);
}

.project-inset-right {
    display: inline-block;
    padding: 5px 5px;
    margin: 5px 5px;
    color: var(--light-color);
    background-color: var(--dark-color);
}
