:root {
    --block-background: #fff;
    --text: #073429;
    --keyword: #007aff;
    --type: #363b8f;
    --string: #e06a1e;
    --constant: #e06a1e;
    --function: #e20a39;
    --comment: #159c4a;
}

pre {
    border: 2px solid var(--text);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    margin: 0 auto 40px;
    background-color: var(--block-background);
    text-wrap: wrap;
    max-width: 100%;
    margin-bottom: 10px;
}

code {
    color: var(--text);
    font-size: 1.3em;
}
code .keyword {
    color: var(--keyword);
}
code .type {
    color: var(--type);
}
code .string {
    color: var(--string);
}
code .numeric.constant {
    color: var(--constant);
}
code .function {
    color: var(--function);
}
code .comment {
    color: var(--comment);
}
